<div class="container">
  <mat-toolbar color="primary">
    <span>
      <a class="nav-line home" href="https://angular.io">
        <img src="../assets/images/logo-nav@2x.png" alt="Home"  title="Home"
          height="40" width="150">
      </a>
    </span>
      <ul role="navigation">
        <li>
          <a class="nav-link" href="features">
            <span class="nav-link-inner">FEATURES</span>
          </a>
          <a class="nav-link" href="events">
            <span class="nav-link-inner">EVENTS</span>
          </a>
          <a class="nav-link" href="resources">
            <span class="nav-link-inner">RESOURCES</span>
          </a>
        </li>
        <li></li>
        <li></li>
      </ul>
  </mat-toolbar>
</div>
