<div class="container">
  <mat-toolbar class="mat-toolbar" color="primary">
    <mat-toolbar-row class="mat-toolbar-row">
      <span>
        <a class="nav-line home" routerLink="">
          <img src="../assets/images/logo-nav@2x.png" alt="Home" title="Home" height="40" width="150">
        </a>
      </span>
      <ul>
        <li>
          <a class="nav-link">
            <span class="nav-link-inner" title="Features" routerLink="/features" routerLinkActive="active" [routerLinkActiveOptions] = '{ exact: true }'>FEATURES</span>
          </a>
          <a class="nav-link">
            <span class="nav-link-inner" title="Events" routerLink="/events" routerLinkActive="active">EVENTS</span>
          </a>
          <a class="nav-link">
            <span class="nav-link-inner" title="Resources" routerLink="/resources" routerLinkActive="active">RESOURCES</span>
          </a>
        </li>
      </ul>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>
