/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
/* body {margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;} */

body {
  font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  margin: 0;
  color: #444;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, .content {
  background-color: white;
}

.github-links + .content h1 {
max-width: 90%;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.clear {
  clear: both;
}

.l-clearfix:after, .clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.is-visible {
  display: block!important;
}

.l-flex-wrap {
display: flex;
flex-wrap: wrap;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.center {
  text-align: center;
}

.visually-hidden {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.text-uppercase {
text-transform: uppercase;
}

.container {
  background-color: #1976d2;
}
